@import "variables";


.nav {

  &_bold {
    @extend %arial-bold;
  }
  &_footer {
    @extend %arial;
  }

  &__list {
    @media screen and (max-width: $mobile-l){
      display: none;
    }
  }


  &__item {
    display: inline-block;
    margin-right: $nav__item_mright;
    &:last-child {margin-right: 0}
  }

  &__link {
    padding: 10px;
    color: $nav__link_color;
    opacity: 0.6;
    &:hover,&:focus {
      opacity: 1;
    }
  }

}


.hamburger {
  width: 16px;
  height: 14px;
  background: url("../images/hamburger.svg") no-repeat 100%;
  cursor: pointer;
  @media screen and (min-width: $mobile-l + 1){
    display: none
  }
}