extends layout

block content
    h1.main__title= title
    .container.container_video
        canvas#canvas-0.canvas
        canvas#canvas-1.canvas
        canvas#canvas-2.canvas
        canvas#canvas-3.canvas