.video {
  height: 100%;
  width: 100%;
  transition: filter ease 1s;
  &_fullscreen {
    transform: translateZ(0);
  }
  &__controls {
    @extend %flex,
            %flex-column;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    min-height: 250px;
    padding: 20px 10px;
    margin-top: 20px;
    background: #f1f1f1;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    @media screen and (min-width: $tablet) {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
    &_hidden {
      display: none;
    }
  }
  &__control {
    @extend %arial,
            %font_middle;
    margin: 10px 0;
  }
  &__input {
    @extend .track__input;
  }
  &__button {
    @extend .button, .button_primary;
  }
  &__analyzer {
    border-radius: 10px;
  }
}
