.container {
  @extend %flex,
          %flex-column,
          %margin-center,
          %max-width;
  box-sizing: border-box;
  padding: 0 3.5%;
  @media screen and (min-width: $tablet + 1) {
    padding: 0 12.5%;
  }

  &_video {
    @extend %max-width;
    height: 100%;
    padding: 0;
    display: block;
    overflow: hidden;
    text-align: center;
    &__item {
      width: calc(50% - 10px);
      transition: width 0.7s ease 0.2s, visibility 0.1s, opacity 0.1s, height 1s linear 1s;
      display: inline-block;
      margin: 10px;
      transform-origin: center center;
      box-sizing: border-box;
      &_hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
      }
      &_fullscreen {
        width: 100%;
        transform: translateZ(0);
      }
    }
  }
}
