$white: #fff;
$white-event: #fafafa;
$gray-1: #f7f7f7;
$gray-2: #f0f0f0;
$gray-3: #858585;
$gray-button: #e5e5e5;
$gray-event: #f3f3f3;

$black-1: #000000;
$black-2: #333333;

$critical: #db5341;
$primary: #ffd93e;



// Music
$music-thumb: #d8d8d8;
$music-info: #a1a1a1;
$music-input-bgr: #979797;
$volume-input-bgr: rgba(216,216,216,0.30);
$volume-thumb: #605757;